@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    
        <abbr title="Phone">P:</abbr>
        +91 7405312094
   
    <address>
        <strong>Gmail:</strong>   <a href="mailto:pom80664@gmail.com">pom80664@gmail.com</a><br />
        <strong>InstagramId:</strong> <a href="__patel___om___1212">__patel___om___1212</a>
    </address>
</main>